@charset "utf-8";

.area-header {margin-bottom: 50px;}

/* 버킷마켓 소개 */
.box-bucket-intro {width:100%; margin:0; padding:0; text-align: center;}
.box-bucket-intro img {margin: 0 auto; text-align: center;}





